sudo: true
dist: trusty
language: python
cache: pip
python:
 - 2.7
 - 3.5
install:
 - wget https://nodejs.org/download/release/v6.5.0/node-v6.5.0-linux-x64.tar.xz
 - tar -xJvf node-v6.5.0-linux-x64.tar.xz
 - export PATH="${PWD}/node-v6.5.0-linux-x64/bin:$PATH"
 - mkdir -p python-virtualenv/bin
 - ln -s $(which python) python-virtualenv/bin/python
 - ln -s $(which pip) python-virtualenv/bin/pip
 - mkdir -p neo4j
 - pushd neo4j
 - wget http://dist.neo4j.org/neo4j-community-2.2.0-M03-unix.tar.gz
 - tar -xzvf neo4j-community-2.2.0-M03-unix.tar.gz
 - rm -rf - wget neo4j-community-2.2.0-M03-unix.tar.gz
 - popd
 - python install.py
 - mkdir -p neo4j
 - pushd neo4j
 - wget dist.neo4j.org/neo4j-community-2.2.0-M03-unix.tar.gz
 - tar -xzvf neo4j-community-2.2.0-M03-unix.tar.gz
 - popd;
script:
 - export PATH="${PWD}/node-v6.5.0-linux-x64/bin:$PATH"
 - export LEGACY_NEO4J=1
 - which npm
 - which node
 - export DATABASE_URL=localhost:7474
 - npm run lint
 - python setup.py polysquarelint --exclusions=*/neo4j/*,*/venv/*,*/node_modules/*,*/dist/*,*/public/components/* --suppress-codes=I100,LongDescription,D203
 - python setup.py green
 - echo "Killing remaining database processes"
 - killall -9 java || true
 - npm run test
