input[type=text], select {
    font-family: "Lucida Console"; /*need to decide on site's style*/
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}