extends layout

block content
  include header
  .container
    p Crawler status: #[span(id="crawlingStatus") Stopped]
    br
    button#crawlerButton Run Crawler
  script(src="/js/administration.js")