block header
    .navbar.navbar-default
        .navbar-header
            .navbar-brand(href="#") Tracking Retractions
        .collapse.navbar-collapse
            .nav.navbar-nav.navbar-right
                li
                    a(href="/administration") Administration
            .nav.navbar-nav.navbar-left
                li
                    a(href="/") Statistics
                li
                    a(href="/visualization") Visualisation