extends layout

block content
  form
    select(id='graphs', onchange='updateSelection()')
      // placeholder text elements
      option(value='continentYear') Continent / Year
      option(value='countryYear') Country / Year
      option(value='journalYear', selected='selected') Journal / Year
  .chart
