extends layout

block content
  include header
  .container
    .dropdown(id="chartSelectionDropdown")
      button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false") Chart to Display 
        span.caret
      ul.dropdown-menu
        li
          a(href="#" data-selection-id="countryYear") Country / Year
          a(href="#" data-selection-id="authorYear") Author / Year
    .chart-container
      .chart
