/* //dropdown button */
.dropdown {
    font-family: "Lucida Console" monospace;
    font-size: 10px;
    margin: 10px 0;
}

.chart-container {
    height: 500px;
    margin-top: 2em;
}
.chart {
    height: 100%;
}
body {
    background-color: #eceff1;
}
.navbar-default {	
    background-color: #64b5f6;
}
/* Navbar brand on left of navbar */
.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: "Trebuchet MS" sans;
    font-size: 25px;
}
/* when navbar brand is hovered */
.navbar-default .navbar-brand:hover {
    background-color: #42a5f5;
}
/* admin button on right of navbar */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Trebuchet MS" sans;
}
/* when admin button is hovered */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #42a5f5;
}


