 /*subject to change*/
input[type=text], select {  
    font-family: "Lucida Console"; 
    font-size: 15px;
    width: 50%;
    padding: 15px 30px 15px; /*top, right, bottom, left */
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.chart-container {       /*Update colour scheme*/
  font: 10px "Lucida Console";
  background-image: linear-gradient(180deg, #ffffff, #99ccff); /*gradient?/ different for each*/
  border-radius: 0.5em;
  margin-top: 2em;
  height: 500px;
}

.chart {
  height: 100%;
}